body{
    display:flex;
    background-color:  hsl(233, 47%, 7%); 
    font size: 15px;
    font-family: "Inter", sans-serif;
    font-weight: 400,700;
    max-width: 1440px;
     
}
.attribution { 
    font-size: 11px;
     text-align: center; 
}
.attribution { 
    color: hsl(228, 45%, 44%);
 }
.content{
    display: flex;
    justify-content: space-between;
    background-color: hsl(244, 38%, 16%);
    width: 800px;
    height: auto;
    margin: auto;
    margin-top: 170px;
    border-radius: 10px;
}

#insights{
    color:hsl(277, 64%, 61%);
}

#main-heading{
    display: block;
    color: hsl(0, 0%, 100%);
    font-size: 25px;
    font-weight: 700;
    margin-left: 30px;
    margin-top: 40px;
    margin-bottom: 0px;
    word-spacing: 7px;
    max-width: 300px;
}
#main-paragraph{
    display: block;
    position: relative;
    top: 30px;
    color:hsla(0, 0%, 100%, 0.75);
    font-weight: 200;
    font-size: 13px;
    margin-left: 30px;
    margin-top: 0px;
    max-width: 300px;
}
#stat-heading{
    color: hsla(0, 0%, 100%, 0.6);
    position: relative;
    top: 80px;
    max-width: 300px;

}
#card-photo{
    height: 300px;
    opacity: 0.5;
}
#image-container{
    background-color: hsl(285, 86%, 35%);
    float: right;
}
#text{
    float: left;
}

th{
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    font-size: 25px;
    padding-left: 30px;
    padding-right: 20px;
}
td{
    color:hsla(0, 0%, 100%, 0.75);
    font-weight: 200;
    font-size: 13px;
    padding-left: 30px;
    padding-right: 20px;
}


@media screen and (max-width: 800px)
{
    .content{
        width: 300px;
        height: 600px;
       
    }
    #main-heading{
        position: absolute;
        top:300px;
        max-width: 280px;
        margin: 20px;
    }
    #main-paragraph{
        position: relative;
        top: 250px;
        margin: 20px;
    }
    #stat-heading{
        position: relative;
        top: 250px; 
        margin-left: 80px;
         
    }
    #card-photo{
        width: 300px;
    
    }
    #image-container{
        position: absolute;
        height: 300px;
        top: 0px;
    }
    #header-row{
        display: flex;
        flex-direction: column;
    }
    #body-row{
        display: flex;
        flex-direction: column;
        position: absolute;
        top:30px;
    }
    th,td{
        padding-top: 40px;
    }
    #cell-1{
        position: relative;
        top: 2px;
        left: 3px;
    }
    #cell-2{
        position: relative;
        top: 16px;
        left: 5px;
    }
    #cell-3{
        position: relative;
        top: 28px;
        left: 13px;
    }

}
